header 
        nav
            div
                i(class='fa fa-bars')
                ul
                    li
                        a home
                    li
                        a Shop
                    li
                        a Panier
                    li
                        a My Account