doctype html
html
 head
  title my shop exo
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Lato&display=swap')
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
  link(rel='stylesheet' href='style/style.css')
 
  nav
    div
      i(class='fa fa-bars')
    ul
      li
        a home
      li
        a Shop
      li
        a Panier
      li
        a My Account
         