header 
        nav
            div
                i(class='fa fa-bars')
                ul
                    li
                        a(href="/") home
                    li
                        a(href="/shop") Shop
                    li
                        a(href="/wallet") Panier
                    li
                        a(href="/addproducts") Add products
                    li
                        a(href="/modifyproducts") modify Product